pug-page(rest="/$$dev/api/echo")
  :init
    count = 0
    name = "Tom"

  +mixin1("MIXIN")
  h1 Render Test
  .rest-status Rest result: #{result}

  h2 Reactive Demo
  p
    div: a.inc(onclick="count=count+1") Inc
    .counter Count: #{count}
  p
    custom-tag
      div This is a custom tag
  p
    a.toggle-slot(onclick="showSlot=!showSlot") Toggle Slot
    if showSlot
      render-box(title="Slot Test")
        p.slot-value Slot active

  #i18n
    h2 I18N Demo
    p Local i18n: #{$T.Hello}
    p Parent i18n:
      span= $T["Hello #{name}"]
    p In form & attr:
    form(rest="/$$dev/api/echo")
      p type something:
        input#i18n-username(name="value" placeholder=$T.Username)
      p parent i18n:
        span#value= $T["Current value: #{value}"]
      p From global $i18n:
        button#i18n-submit= $T.OK
        button#i18n-cancel= $T.Cancel

    p
      a.lang-en(href="#" onclick="$user.lang='en'") EN
      |  
      a.lang-zh(href="#" onclick="$user.lang='zh'") ZH
      |  
      a.lang-zh-tw(href="#" onclick="$user.lang='zh_TW'") ZH-TW

  :i18n
    "Current value: #{value}":
      zh: "当前值: #{value}"
    Hello:
      zh: 你好
    "Hello #{name}":
      zh: "#{name}, 你好"
    Submit:
      zh: 提交
      jp: 送信
