title(href="/user") User #{$args[0]}

pug-page(rest=`/$$dev/api/user/${$args[0]}`)
  .sass-card
    h2.sass-title User Details
    li User ID: #{id}
    li User Name: #{name}
    li User Email: #{email}

:css
  .sass-card .sass-title { color: rgb(134, 0, 0); }
